<section class="bg-white py-20 px-6 text-center relative">
  <!-- Swiper Container -->
  <div class="swiper max-w-5xl mx-auto pb-10">
    <!-- Slides wrapper -->
    <div class="swiper-wrapper">
      {% for slide in sliders %}
        {% if slide.is_visible %}
          <div class="swiper-slide text-center">
            <h1 class="font-satoshi font-medium text-[50px] text-[#0F1324] mb-4">
              {{ slide.title|safe }}
            </h1>
            <p class="text-gray-600 max-w-xl mx-auto mb-6">
              {{ slide.description|safe }}
            </p>

            {% if slide.is_button and slide.button_text %}
              <div class="space-x-4">
                <a href="{% url slide.button_url %}">
                  <button class="btn-{{ slide.button_class }}">{{ slide.button_text }}</button>
                </a>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% empty %}
        <p>No slides available</p>
      {% endfor %}
    </div>

    <!-- Navigation buttons -->
    <div class="swiper-button-prev text-black"></div>
    <div class="swiper-button-next text-black"></div>
  </div>

  <!-- Pagination bullets -->
  <div class="w-full flex justify-center mt-6">
    <div class="swiper-pagination"></div>
  </div>
</section>
